img {
    display: block;
}
#images1 {
    height: 200px;
    float: right;
}

#images2 {
    width: 200px;
    margin-right: 20px;
    float: left;
}

#images3 {
    width: 200px;
    height: 200px;
    float: left;
}