

.container{
    background-color: blue;
    border: solid black thin;
    display: flex;
    height: 100vh;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.item1 {
    background-color: yellow;
    border: solid black thin;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.item2 {
    background-color: orange;
    border: solid black thin;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.item3 {
    background-color: red;
    border: solid black thin;
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.item4 {
    background-color: white;
    border: solid black thin;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.item5 {
    background-color: gray;
    border: solid black thin;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.container1 {
    background-color: blue;
    border: solid black thin;
    display: flex;
    height: 90px;
    flex-direction: row;
    align-items: center;
    
}

.item6 {
    background-color: yellow;
    border: solid black thin;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.item7 {
    background-color: yellow;
    border: solid black thin;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.item8 {
    background-color: yellow;
    border: solid black thin;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}