<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./float.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float</title>
</head>
<body>
    <nav id="top">
        <ul>
            <li><a href="#top"> Home</a></li>
            <li><a href="#top">About</a></li>
            <li><a href="#top"> Contact</a></li>
            <li class="dropdown">
               <a href="#"> Blog</a>
               <div class="submenu">
                    <a href="#">Menu 1</a>
                    <a href="#">Menu 2</a>
                    <a href="#">Menu 3</a>
               </div>
            </li>
        </ul>
    </nav>
