<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./navigation.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <li class="dropdown">
                <a href="#blog" class="drop">Blog</a>
                <div class="dropdown-content">
                    <a href="#link1">Link 1</a>
                    <a href="#link2">Link 2</a>
                    <a href="#link3">Link 3</a>
                </div>
            </li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
            <li><a class="active" href="#home">Home</a></li>
        </ul>
    </div>
    <div class="div">
        <img src="./css3.webp" id="img1">
        <img src="./html5.jpg" id="img2">
    </div>
    <div class="div1">
        <p> 300 x 200 </p>
    </div>
    <div class="div2">
        <p> 300 x 200 </p>
    </div>
    <div class="div3">
        <ul class="list">
            <li>Rebuilding slack.com</li>
            <li>Zasto bootcamp format?</li>
            <li>React - prozor u svet web aplikacija</li>
            <li>Najvece zablude o programerima u Srbiji</li>
        </ul>
    </div>
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, deleniti nulla voluptas, exercitationem porro dicta quaerat omnis in cum, beatae cumque sit minima nemo consectetur voluptates. Mollitia delectus quod id! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quaerat soluta numquam porro dicta vero, ab officia ex similique placeat cumque, quisquam, rem cum odit laborum facilis ullam aliquid possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cumque cupiditate deserunt. Id veritatis odit asperiores aspernatur sit amet voluptas consequuntur, quibusdam in aperiam mollitia est nostrum nisi. Vero, dolor!</p>
    </div>
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, deleniti nulla voluptas, exercitationem porro dicta quaerat omnis in cum, beatae cumque sit minima nemo consectetur voluptates. Mollitia delectus quod id! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quaerat soluta numquam porro dicta vero, ab officia ex similique placeat cumque, quisquam, rem cum odit laborum facilis ullam aliquid possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cumque cupiditate deserunt. Id veritatis odit asperiores aspernatur sit amet voluptas consequuntur, quibusdam in aperiam mollitia est nostrum nisi. Vero, dolor!</p>
    </div>
    
</body>
</html>