*{
    margin: 0;
    padding: 10px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.container {
    border: black solid 2px;
    width: 960px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.header {
    grid-column: 1 / -1;
}

.item1 {
    grid-row-start: 2;
    grid-row-end: 4;
}

